.discordSection {
  position: relative;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: var(--mantine-color-orange-2);
}

.discordBackground{
  background-image: url("../../images/emsc_pattern_darkgreen.svg");
  position: relative;
  top: 0;
  left: 0;
  width: 75%;
  z-index: 0;
  background-color: var(--mantine-color-orange-2); /* Optional fallback */
  position: absolute;
  height: 100%;
  mask-image: linear-gradient(to right, black 0%, transparent 100%);
}

.discordContent, .discordImageWrapper {
  position: relative;
  z-index: 1; /* Sit above the background */
  padding: 4rem 2rem;

}

.discordContent{
  max-width: 30vw;
  flex: 1 1 50%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--mantine-color-black);
  & .discordText {
    margin-bottom: 1rem;
  }
  & .discordTitleWrapper {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {

  .discordBackground {
    width: 100%;
    mask-image: none;
  }

  .discordContentWrapper {
    flex: column;
  }

  .discordContent {
    max-width: 100%;
    text-align: center;

  }
  .discordTitle {
    text-align: center;
    width: 100%;
    line-height: 2rem !important;
  }
}