.featureSection {
  justify-content: center;
  color: var(--mantine-color-white);
  & .welcomeTitle{
    justify-self: center;
  }
  & .textBody {
    max-width: 568px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  & .titleContainer{
    width: 100%;    
  }
  & .titleFrame {
    display: flex;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color: var(--mantine-color-white);
    border-width: 1px;
    width: fit-content;
    padding: 15px;
  }
  & .textContainer{
    margin-top: 1rem;
    margin-right: 1rem;
    max-width: 50vw;
  }
}

@media (max-width: 768px) {

  .featureSection {
    margin-left: 0rem;
    margin-right: 0rem;
    
    & .welcomeTitle {
      font-size: 30px;
    }
    & .textContainer {
      max-width: 100%;
      margin-top: 1rem;
      margin-right: 0;
      & .titleContainer {
        position: relative;
        max-width: 100%;
        width: 100%;
      }
      & .titleFrame{
        text-align: center;
        justify-content: center;
        background-color: var(--mantine-color-green-0);
        width: 80%;
      }
      & .image{
        width: 100%!important;
      }
    }
    & .image {
      margin-left: 0rem;
    }
    & .textBody {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

@media (max-width: 425px) {

  .titleFrame {
    position: absolute;
    right: 10%;
    bottom: 0px;
  }
  .textContainer {
    margin-top: 0px;
  }
}
