.headerContainer {
  height: 91px;
  width: 100vw;
  display: flex;
  justify-content:  space-between;
  align-items: center;
  flex-direction: row;
  top: 0;
  z-index: 1000;
  position: sticky;
  & .navImage {
    margin-left: 25px;
  }
  & .navGroup {
    height: 50px;
    justify-content: center;
    margin-right: 25px;
  }
}

@media (max-width: 768px) {
  .headerContainer {
    height: 50px;
    & .navImage {
      margin: 10px;
      height: 33.5px;
      width: 72px;
    }
    & .navGroup { 
      height: 33.5px;
      width: 112px;
      margin: 10px;
    }
  }
}
