.headerContainer {
  height: 50px;
  width: "100%";
  display: flex;
  justify-content:  space-between;
  flex-direction: row;
  top: 0;
  z-index: 1000;
  position: sticky;
  & .navGroup {
    height: 50px;
    justify-content: center;
    margin-right: 10px;
  }
}
