.heroTitleContainer {
  color: var(--mantine-color-white);
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  height: 50vh;
  width: 100vw;
  & .titleText {
    font-size: clamp(16px, 7vw, 143px);
    line-height: 65%;
  }
  & .textBody {
    font-size: clamp(16px, 1vw, 24px);
  }
}

.titleContainer {
  max-width: 30vw;
  min-width: 30vw;
}

.subTitleContainer {
  max-width: 22vw;
  min-width: 22vw;
}


.heroBackgound {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/EMSC_pattern.svg);
  background-size: contain;
  background-position: left top;
  background-repeat: repeat-x;
  mask-image: linear-gradient(120deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 90%);
}

.upperWelcome {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.featureSection {
  justify-content: center;
  color: var(--mantine-color-white);
  & .textBody {
    max-width: 568px;
    margin-top: 10px;
    margin-left: 1rem;
  }
  & .boxedTitle {
    margin-left: 1rem;
    border-style: solid;
    border-color: var(--mantine-color-white);
    width: fit-content;
    padding: 15px;
  }
  & .textContainer{
    margin-top: .5rem;
    margin-right: 1rem;
  }
}

.testimonialContainer {
  margin-top: 6rem;
  margin-bottom: 3rem;
  margin-right: 6rem;
  margin-left: 6rem;

}


.tesmonialTitleContainer {
  margin-bottom: 3rem;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;


  & .quoteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--mantine-color-white);
    font-size: 20px;
    padding: 20px;
    max-width: 700px;
    z-index: 1;
  }
  & .quote {
    font-style: italic;
  }
  & .quoteBlack {
    color: var(--mantine-color-black);
    font-size:20px;
    z-index: 1;
  }
}

.mantine-Carousel-indicators button {
  background-color: var(--mantine-color-black);
  margin-top: 10px;
}

.mantine-Carousel-indicators {
  position: absolute;
  top: 170px;
}
/* MOBILE STYLES */
@media (max-width: 768px) {
  .mobileHeroTitleContainer {
    color: var(--mantine-color-white);
    padding: 0 !important;
    width: 100vw;
    & .titleText {
      font-size: 7rem
    }
  }
  .upperWelcome {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .featureSection {
    justify-content: center;
  
    margin-top: 3rem;
    margin-left: 0rem;
    margin-right: 0rem;
  
    & .imageLeft {
      margin-right: 0rem;
    }
    & .imageRight {
      margin-left: 0rem;
    }
    & .textBody {
      margin-top: 0rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
.quoteContainer {
  & .quote {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  & .quoteAuthor {
    padding-top: 10px;
  }
}


  .testimonialContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .tesmonialTitleContainer {
    margin-bottom: 0rem;
  }
}
