@import '../stylesheets/home/_hero.css';
@import '../stylesheets/home/_feature.css';
@import '../stylesheets/home/_carousel.css';
@import '../stylesheets/home/_testimonials.css';
@import '../stylesheets/home/_discord.css';
/* @import '../stylesheets/home/_media_queries.css'; */
/* refactor css in a later brsanch */

/* MOBILE STYLES */
@media (max-width: 768px) {

  .upperWelcome {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .featureSection {
    justify-content: center;
  
    margin-top: 3rem;
    margin-left: 0rem;
    margin-right: 0rem;
  
    & .imageLeft {
      margin-right: 0rem;
    }
    & .imageRight {
      margin-left: 0rem;
    }
    & .textBody {
      margin-top: 0rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
.quoteContainer {
  & .quote {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  & .quoteAuthor {
    padding-top: 10px;
  }
}


  .testimonialContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .tesmonialTitleContainer {
    margin-bottom: 0rem;
  }
}
